
<div style="text-align: center; color: #3f51b5; margin-top: 20px;">
  <h1  class="mat-display-1">Address Verification UI - SmartyStreets SDK &amp; Angular Material</h1>
</div>
<router-outlet></router-outlet>
<!-- <div style="text-align: center;"> -->
<div class="card" style="margin: 0px 300px 0px 300px">
  <div class="card-header" style="color: #3f51b5;">
    Repo/Source Code
  </div>
  <div class="card-body">
    <div style="text-align: center;">
      <iframe id="ghcard-dkarnati-12" frameborder="0" scrolling="0" allowtransparency="true"
      src="https://lab.lepture.com/github-cards/cards/default.html?user=dkarnati&amp;identity=ghcard-dkarnati-12&amp;repo=SmartyStreets-AngularUI&amp;client_id=a11a1bda412d928fb39a&amp;client_secret=92b7cf30bc42c49d589a10372c3f9ff3bb310037"
      width="600"></iframe>
    </div>
  </div>
<!-- </div> -->
</div>




